# MCP_SERVER_URL=http://127.0.0.1:8001
# ORCHESTRATOR_URL=http://127.0.0.1:8002

# LLM KEYS, MODEL
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

# GATEWAY_API_KEY=abc123

# LOGGING URL
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=ai-platform
LANGCHAIN_TRACING_V2=true

# TOOL URLS 
CODING_TOOL_URL=http://tools-service:9001
RESEARCH_TOOL_URL=http://tools-service:9002
DB_TOOL_URL=http://tools-service:9003
QA_TOOL_URL=http://tools-service:9004


# ORCHESTRATOR
ORCHESTRATOR_URL=http://orchestrator-service:8002

# MCP
MCP_SERVER_URL=http://mcp-service:8001

# GATEWAY
GATEWAY_SERVER_URL=http://gateway-service:8000


# GATEWAY
GATEWAY_API_KEY=abc123
